.site-logo {
    text-decoration: none;
    // margin-left: 215px;
    // margin-top: 24px;
    // margin-bottom: 25px;

    
    &-text {
        font-family: Raleway, sans-serif;
        font-style: 400;
        font-size: 26px;
    }

    @media screen and (min-width: 100px) and (max-width: 767px) {
        &-text {
            margin-top: 16px;
            margin-left: 15px;
            
        }
    }

}

@media screen and (min-width: 1200px) {
    &-text {
        margin-top: 26px;
        margin-left: 15px;
        
    }
    .site-logo {
        text-decoration: none;
        padding-left: 15px;
        padding-top: 24px;
        padding-bottom: 25px;

    
    }
    
}

