*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    box-sizing: content-box;
}

ul,
ol {
    list-style: none;
}

body {
    
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    font-style: normal;
    margin: auto;
    
}


body.modal-open {
    overflow: hidden;
  }
