
    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $main-text-color: #757575;
    $secondary-text-color: #212121;
    $accent-color-main: #2196f3;
    $additional-color: #fff;
    $background-main-color: #2f303a;
    $background-secondary-color: #f5f4fa;
    $border-color: #ececec;
    $address-list-color: rgba(255, 255, 255, 0.6);
    $social-links-color: #afb1b8;